<div class="row" id="question">
  <div class="col-md-6">
    <%= form_for object, url: create_question_path, method: "post" do |f| %>
      <%= render "shared/errors_messages", object: object %>
      <%= f.label :subject, class: "space-top" %>
      <%= f.collection_select :subject_id, Subject.all, :id, :name, {}, class: "form-control" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :state, value: :accepted %>

      <div class="form-group">
        <%= f.label :content, class: "space-top" %>

        <!-- = form.cktext_area :notes, class: 'someclass', ckeditor: { language: 'uk'}
        = form.cktext_area :content, value: 'Default value', id: 'sometext'
        = cktext_area :page, :info, cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' } -->

        <%= f.text_area :content, cols: 40, rows: 10, class: "ckeditor" %>
        <%#= f.text_area :content, cols: 40, rows: 10, class: "form-control" %>

        <span class="help-block">User can use <code>&lt;pre&gt;&lt;code class="language-css"&gt;your code here&lt;/code&gt;&lt;/pre&gt;</code> to input it on question content.</span>
      </div>
      <div class="form-group">
        <%= f.check_box :active %>
        <%= f.label :active %>
      </div>
      <%= f.label :question_type, class: "space-top" %>
      <%= f.collection_select :question_type, Settings.exam.question_type, :first, :last, {}, class: "form-control width-question-type"  %>
      <div class="space-top">
        <%= f.fields_for :options do |ff| %>
          <%= render "option_fields", f: ff %>
        <% end %>
        <div class="option-fields">
         <%= link_to_add_fields t("questions.features.add_option"), f, :options %>
        </div>
      </div>
      <%= f.submit  t("questions.features.save_question"), class: "btn btn-primary button_save_continue space-top-submit" %>
      <%= f.submit  t("questions.features.save_continue"), class: "btn btn-primary button_save_continue space-top-submit" %>
    <% end %>
  </div>
</div>
