<div class="row">
  <div class="col-md-8">
    <p class="text-left">
      <b>
        <%= t "User" %>:
        <%= link_to object.user.name, rails_admin.show_path("User", object.user) %>
      </b>
    </p>
    <p class="text-left">
      <b>
        <%= t "Subject" %> :
        <%= object.subject.name %>
      </b>
    </p>
    <p class="score-label">
      <%= t("admin.labels.total_score", score: object.score_exam) %>
    </p>
    <hr>
    <%= render "mark_exam_form", object: object %>
  </div>
</div>
